<html><head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
            <a class="navbar-brand" href="#" style="color:gold"><h4><i>Kowure-CARS</i></h4></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/login" ><B><i>SOLD DETAILS</i></B><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/carbuy" style="color:red;"><B>BUY</B></a>
                </li>
               
                  <li class="nav-item">
                    <a class="nav-link" href="/carsell" style="color:rgb(101, 248, 4);"><B>SELL</B></a>
                  </li>
        
              </ul><div style="display:inline-block;margin-right:100px;" >
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <ul class="navbar-nav mr-auto">
              <li >
                <a  href="/login" >Log in</a>
              </li></ul></div>
            </div>
          </nav><br>
  
  
  <form action="/sell" method="POST" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4" style="margin-left:20px;"> Car Name</label>
      <input type="text" class="form-control" name="cname"id="inputEmail4" placeholder="car name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4" style="margin-left:20px;"> Car ID</label>
      <input type="text" class="form-control" name="cid"id="inputEmail4" placeholder="car name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4" style="margin-left:20px;" >Model year</label>
      <input type="text" class="form-control" name="year" id="inputPassword4" placeholder="model year">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4" style="margin-left:20px;">Selling Price</label>
      <input type="text" class="form-control" name="price" id="inputEmail4" placeholder="selling prince">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4" style="margin-left:20px;">Reg Year</label>
      <input type="text" class="form-control" name="reg" id="inputPassword4" placeholder="reg year">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4" style="margin-left:20px;">Fuel</label>
      <input type="text" class="form-control" name="fuel" id="inputEmail4" placeholder="fuel">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4" style="margin-left:20px;">Km Driven</label>
      <input type="text" class="form-control"name="kmd" id="inputPassword4" placeholder="km driven">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4" style="margin-left:20px;">Engine</label>
      <input type="text" class="form-control"  name="engine"id="inputEmail4" placeholder="engine">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4" style="margin-left:20px;">Number Of Owners</label>
      <input type="text" class="form-control"name="nfo" id="inputPassword4" placeholder="number of owners">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4" style="margin-left:20px;">RTO</label>
      <input type="text" class="form-control" name="rto" id="inputEmail4" placeholder="rto">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4" style="margin-left:20px;">Car Image</label>
      <input type="file" class="form-control" name="cimage"id="inputPassword4" placeholder="car url">
    </div>
  
  <div class="form-group col-md-6">
      <label for="inputEmail4" style="margin-left:20px;">Insurance</label>
      <input type="text" class="form-control" name="insu" id="inputEmail4" placeholder="Insurance">
  </div>
  <div class="form-group col-md-6">
      <label for="inputEmail4" style="margin-left:20px;" > Car Status</label>
      <input type="text" class="form-control" name="status"id="inputEmail4" placeholder="car name">
    </div>
    </div>
  <center><input type="submit" class="btn btn-primary"></center>
</form>



 <h2 style="color:darkcyan;"><i>Connect to the right car dealers</i></h2><hr>
          <img src="https://www.motoroids.com/wp-content/uploads/2011/04/Maruti-Suzuki-Logo-2019.jpg" class="img-rounded" alt="Cinque Terre" width="300" height="200">
          <img src="https://static2.3birdsmarketing.com/Clients/3BIRDSMARKETING/2009-current-Audi-logo-emblem.jpg" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/bmw-emblem-ericamaxine-price.jpg" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="https://www.desktopbackground.org/p/2015/06/26/970009_high-quality-mercedes-benz-logo-wallpapers_1649x1278_h.jpg" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="http://www.labournet.com/wp-content/uploads/2019/02/Hyundai.png" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="https://www.carlogos.org/car-logos/toyota-logo-2019-3700x1200.png" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="https://www.carlogos.org/car-logos/ford-logo-2017.png" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="https://www.carlogos.org/logo/Volkswagen-emblem-2014-1920x1080.png" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/KIA_logo2.svg/1200px-KIA_logo2.svg.png" class="img-rounded" alt="Cinque Terre" width="300" height="170">
          <img src="https://seeklogo.com/images/R/renault-logo-18DB8E9AE7-seeklogo.com.png" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="https://upload.wikimedia.org/wikipedia/en/b/b4/Jaguar_2012_logo.png" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="https://www.carlogos.org/logo/Chevrolet-logo-2013-2560x1440.png" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/26cb4863a2d2b8ff6c286391556477a6/large.png" class="img-rounded" alt="Cinque Terre" width="300" height="180">
          <img src="https://bangladesh.motorhaat.com/wp-content/uploads/2020/12/Tata-Motors-Logo.png" class="img-rounded" alt="Cinque Terre" width="300" height="170">
          <img src="https://www.carlogos.org/logo/Mahindra-logo-2560x1440.png" class="img-rounded" alt="Cinque Terre" width="300" height="180"><hr>
          <br>
          <br>
          <img src="https://cdn-icons-png.flaticon.com/512/15/15643.png" width="5%" heigth="5%">
          <p style="display:inline-block"><B>India’s #1<br>
            Largest Auto portal</B></p>
            <img src="https://icon-library.com/images/car-cost-dollar-512_42615.png" width="5%" heigth="5%" style="margin-left:120px;">
          <p style="display:inline-block"><B>Car Sold<br>
Value for money</B></p>
<img src="https://cdn0.iconfinder.com/data/icons/shopping-and-commerce-1-12/66/64-512.png" width="5%" heigth="5%" style="margin-left:120px;">
          <p style="display:inline-block"><B>Offers<br>
Stay updated pay less</B></p>
<img src="https://static.thenounproject.com/png/126471-200.png" width="5%" heigth="5%" style="margin-left:120px;">
          <p style="display:inline-block"><B>Compare<br>
Decode the right car</B></p><br><br><hr><br><br>
<div style="display:inline-block;">
<h3>Contact us</h3><br>
<h6 style="color:darkgray;"><i>Shashank B P -1nt19is145.shashank@nmit.ac.in<br><br>
Bharath T P -1nt19is175.bharath@nmit.ac.in<br><br>
Vishwanath -1nt19is192.vishwanath@nmit.ac.in<br></i></h6></div>
<img src="https://www.freepnglogos.com/uploads/app-store-logo-png/apple-app-store-travel-awards-globestamp-7.png" width="15%" height="15%" style="margin-left:900px; margin-bottom:90px;">
          
</body>
</html>